
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger text-center">Sistemsel Sorun</h1>
<h4 class="text-danger text-center">Ekibimiz bilgilendirildi</h4>
<p class="text-center lead">
    En kısa zamanda ilgili hata çözülecek.
</p>
