
@{
    ViewData["Title"] = "StatusErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center lead">
        <h2>Hata</h2>
        <h3>@ViewBag.Code</h3>
        <h4>
            @ViewBag.Message
        </h4>
    </div>

