
@{
    ViewData["Title"] = "Tesekkur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="text-center text-danger lead">
        Siparişiniz alınmıştır. Bizi tercih ettiğiniz içini teşekkür ederiz.
    </h4>

