@model Urun
@{
    ViewData["Title"] = "UrunDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-4">
            <img src="~/img/@Model.ResimUrl" class="w-100" alt="" />
        </div>
        <div class="col-md-8">
            <h4>@Model.Ad</h4>
            <p class="text-success">@Model.Fiyat <b>TL</b></p>
            <div>
                @Model.Aciklama
            </div>
            <button class="btn btn-primary">Sepete Ekle</button>
        </div>
    </div>

