<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @* localhost:5000  / *@
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Admin")">Admin </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("MusteriList","Admin")">Müşteri İşlemleri </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("KategoriList","Admin")">Kategori İşlemleri </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-action="UrunList" asp-controller="Admin">Ürün İşlemleri </a>
            </li>
        </ul>

    </div>
</nav>