<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Müşteri Uygulaması</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <partial name="_navbar" model="(List<SepetModel>)ViewBag.Sepet"/>
       @*@Html.Partial("_navbar", (List<SepetModel>)ViewBag.Sepet)*@
    </header>
    <section class="container">
        @RenderBody()
    </section>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/esm/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>
