<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @* localhost:5000  / *@
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("GirisYap","Home")">Giriş Yap </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("YeniKayit","Home")">Kayıt Ol </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Sepetim </a>
            </li>
        </ul>

    </div>
</nav>